<div class="container-fluid">
  <div>
    <h1>Survey</h1>
    Fra {{surveyService.currentSurvey.FromDate}} <br/> Til
    {{surveyService.currentSurvey.ToDate}}
    <br/> Antal brugere {{surveyService.currentSurvey.NumberOfUsers}} <br/> Bekræftede deltagere
    {{surveyService.currentSurvey.NumberConfirmed}}
    <br/> Bekræftede deltager ikke {{surveyService.currentSurvey.NumberDenied}} <br/> Beskrivelse
    <br/> {{surveyService.currentSurvey.Description}}
    <ul>
      <li *ngFor="let searchAttribute of surveyService.currentSurvey.Attributes; let i = index">
        <span *ngIf="searchAttribute.Frequency>0"> {{searchAttribute.Frequency}}x  </span>
        <div [ngSwitch]="searchAttribute.Attribute.Type">
          <ng-template [ngSwitchCase]="2">
            {{searchAttribute.Attribute.Name}}: {{searchAttribute.Attribute.Value}}
          </ng-template>
          <ng-template [ngSwitchCase]="3">
            {{searchAttribute.Attribute.Name}}:<span *ngIf="searchAttribute.Must"> skal  </span>
            <span *ngIf="searchAttribute.Not"> ikke </span> være {{searchAttribute.Attribute.Value}}
          </ng-template>
          <ng-template ngSwitchDefault="">
            <!-- Number||float -->
            {{searchAttribute.Attribute.Name}}: {{searchAttribute.MinVal}}
            <=X<={{searchAttribute.MaxVal}}
          </ng-template>
        </div>
      </li>
    </ul>
  </div>
</div>
