<div class="survey">
  <div *ngIf="showSingle">

    <survey-status-component></survey-status-component>

    <div *ngIf="userSurveyService.currentSurvey.User != userHolder.login.Email"> Kan deltage
      <input value="'Not'" type="checkbox" [(ngModel)]="isActive" (click)="changeNot()">
      <input type="button" (click)="update()" value="Opdater" class="btn btn-default"/>
    </div>
  </div>

  <div *ngIf="!showSingle">
    <div *ngIf="userSurveyService.surveysCreated.length>0">
      <h2>Oprettede brugerundersøgelser</h2>
      <ul>
        <li *ngFor="let survey of userSurveyService.surveysCreated; let i = index">
          Brugerundersøgelse: {{ survey.Id }} <input type="button"
                                                     routerLink="/surveys/{{survey.Id}}"
                                                     value="Se info"/>
        </li>
      </ul>
    </div>
    <div *ngIf="userSurveyService.surveysIn.length>0">
      <h2>Deltager i brugerundersøgelser</h2>
      <ul>
        <li *ngFor="let survey of userSurveyService.surveysIn; let i = index">
          Brugerundersøgelse: {{ survey.Id }} <input type="button"
                                                     routerLink="/surveys/{{survey.Id}}"
                                                     value="Se info"/>
        </li>
      </ul>
    </div>
  </div>
</div>
