<div class="input-group">
  <span class="input-group-addon">Navn</span>
  <input data-toggle="tooltip" title="Hvad kan du godt lide?" [(ngModel)]="attrName" id="attributNavn"
         (keyup)="onKey($event)" class="form-control" placeholder="Navn på attribut"/>
</div>

<div [ngSwitch]="type">
  <ng-template [ngSwitchCase]="'String'">
    <div class="input-group">
      <span class="input-group-addon">Værdi</span>
      <input id="attributVal" [(ngModel)]="stringVal" data-toggle="tooltip"
             title="Har din attribut en værdi?"
             class="form-control" placeholder="Værdi af attribut"/>
    </div>
    <span> Not
        <input value="'Not'" type="checkbox" [(ngModel)]="isActive" (click)="changeNot()">
        </span>
  </ng-template>
  <ng-template [ngSwitchCase]=" 'Boolean' ">
        <span> Value
        <input value="'Not'" type="checkbox" [(ngModel)]="boolVal" (click)="changeBoolVal()">
        </span>
  </ng-template>
  <ng-template [ngSwitchCase]=" 'Number' ">
    <div class="input-group">
      <span class="input-group-addon">Min</span>
      <input type="number" id="minValue" [(ngModel)]="minVal" data-toggle="tooltip" class="form-control"/>
      <span class="input-group-addon">Max</span>
      <input type="number" id="maxValue" [(ngModel)]="maxVal" data-toggle="tooltip" class="form-control"/>
    </div>
  </ng-template>
</div>

<div class="input-group">
  <span class="input-group-addon">Min antal</span>
  <input type="number" id="attributNum" [(ngModel)]="minNum" data-toggle="tooltip" class="form-control"/>
</div>
<p></p>
<span> Must
  <input type="checkbox" [(ngModel)]="must" (click)="changeMust()">
</span>

<p></p>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
    {{type}}
    <span class="caret "></span>
  </button>
  <ul class="dropdown-menu">
    <li *ngFor="let item of values" (click)="selectItem(item)">
      {{item}}
    </li>
  </ul>
</div>
<input type="button" (click)="addAttribute()" value="Tilføj" class="btn btn-default"/>
<div *ngIf="attributeService.suggestions.length > 0">
  <ul>
    <li *ngFor="let item of attributeService.suggestions">
      <a (click)="select(item)">{{item}}</a>
    </li>
  </ul>
</div>


<p>Attributer</p>
<ul>
  <li *ngFor="let searchAttribute of attributeService.searchAttributes; let i = index">
    <!--TODO overvej om searchAttributes kan være en attribut på denne komponent -->
    <span *ngIf="searchAttribute.Frequency>0"> {{searchAttribute.Frequency}}x  </span>
    <div [ngSwitch]="searchAttribute.Attribute.Type">
      <ng-template [ngSwitchCase]="2">
        {{searchAttribute.Attribute.Name}}: {{searchAttribute.Attribute.Value}}
        <!-- TODO STYLING -->
      </ng-template>
      <ng-template [ngSwitchCase]="3">
        {{searchAttribute.Attribute.Name}}:<span *ngIf="searchAttribute.Must"> skal  </span> <span
        *ngIf="searchAttribute.Not"> ikke </span> være {{searchAttribute.Attribute.Value}}
      </ng-template>
      <ng-template ngSwitchDefault="">
        <!-- Number||float -->
        {{searchAttribute.Attribute.Name}}: {{searchAttribute.MinVal}}
        <=X<={{searchAttribute.MaxVal}}
      </ng-template>
      <span>Fundne brugere {{attributeMap[searchAttribute.Attribute.Name]}}</span>
      <span (click)="deleteAttribute(i) "> X</span>
    </div>
  </li>
</ul>


<span>
    Samlet antal brugere: {{attributeMap['alle']}}
</span>

