<div class="container-fluid">

  <div class="input-group">
    <span class="input-group-addon">Email:</span>
    <input id="txtEmail" [(ngModel)]="email" class="form-control" placeholder="Email" />
  </div>
  <div class="input-group">
    <span class="input-group-addon">Password:</span>
    <input type="password" id="txtPassword" [(ngModel)]="password" class="form-control" placeholder="Password" />
  </div>

  <input type="button" class="btn btn-default" (click)="sendLoginRequest()" value="Login" />

  <a routerLink="/register" routerLinkActive="active">Register</a>
</div>
