<div class="row">
  <left-menu-component class="col-md-4"></left-menu-component>
  <div [ngSwitch]="active" class="col-md-8">
    <!-- TODO måske få routing til at virke her, men ikke prioritet-->

    <ng-template [ngSwitchCase]="'account'">
      <account-component></account-component>
    </ng-template>
    <ng-template [ngSwitchCase]="'surveys'">
      <survey-component></survey-component>
    </ng-template>
    <ng-template [ngSwitchCase]="'findUsers'">
      <create-survey-component></create-survey-component>
    </ng-template>
    <ng-template ngSwitchDefault="account">
      Fejl
    </ng-template>
  </div>
</div>
