<div class="container-fluid">

  <div class="input-group">
    <span class="input-group-addon">Fra:</span>
    <input data-toggle="tooltip" title="Hvornår starter brugerundersøgelsen?" type="date" [value]="fraDate" id="fra"
           class="form-control"
           placeholder="mm/dd/yyyy"/>
  </div>
  <div class="input-group">
    <span class="input-group-addon">Til:</span>
    <input data-toggle="tooltip" title="Hvornår slutter brugerundersøgelsen?" [value]="tilDate" type="date" id="til"
           class="form-control"
           placeholder="mm/dd/yyyy"/>
  </div>
  <div class="input-group">
    <span class="input-group-addon">Antal:</span>
    <input type="number" [(ngModel)]="antalBrugere" class="form-control"/>
  </div>
  <div class="input-group">
    <span class="input-group-addon">Beskrivelse:</span>
    <textarea data-toggle="tooltip" title="Tilføj en beskrivelse om din brugerundersøgelse" [(ngModel)]="beskrivelse"
              id="beskrivelse"
              class="form-control" placeholder="Beskrivelse">
    </textarea>
  </div>

  <attributes-search-component></attributes-search-component>

  <input type="button" (click)="createUserSurvey()" value="Opret" class="btn btn-default"/>

</div>
