<div class="row">
  <div class="col-md-12">
    <nav class="nav-sidebar">
      <ul class="nav">
        <div #userArea>
          <li>
            <a #varName id="default" routerLink="/account" routerLinkActive="active">Rediger bruger</a>
          </li>
          <li>
            <a (click)="logOut()" routerLink="/" routerLinkActive="active">Log ud</a>
          </li>
        </div>
        <div #navigationArea>
          <li>
            <a routerLink="/findUsers" routerLinkActive="active">Find brugere</a>
          </li>
          <li>
            <a routerLink="/findExpert" routerLinkActive="active">Find ekspert</a>
          </li>
          <li>
            <a routerLink="/findPartner" routerLinkActive="active">Find samarbejdspartner</a>
          </li>
          <li>
            <a routerLink="/surveys" routerLinkActive="active">Se status på ansøgninger</a>
          </li>
        </div>
      </ul>
    </nav>
  </div>
</div>
