<div class="container-fluid">

  <div class="input-group">
    <span class="input-group-addon">Name:</span>
    <input [(ngModel)]="name" class="form-control" placeholder="Name"/>
  </div>
  <div class="input-group">
    <input type="radio" [(ngModel)]="gender" name="gender" value="Male">Male
    <input type="radio" [(ngModel)]="gender" name="gender" value="Female">Female
  </div>
  <div class="input-group">
    <span class="input-group-addon">Password:</span>
    <input type="password" [(ngModel)]="password1" #txtPassword class="form-control" placeholder="Password"/>
  </div>
  <div class="input-group">
    <span class="input-group-addon">Repeat Password:</span>
    <input type="password" [(ngModel)]="password2" class="form-control"
           placeholder="Repeat Password"/>
  </div>
  <div class="input-group">
    <span class="input-group-addon">Age:</span>
    <input type="number" [(ngModel)]="age" class="form-control" placeholder="Age"/>
  </div>
  <div class="input-group">
    <span class="input-group-addon">Email:</span>
    <input [(ngModel)]="email" class="form-control" placeholder="Email"/>
  </div>

  <attributes-component [source]="'signUp'"></attributes-component>
  <input type="button" value="Create Account" (click)="signup()" class="btn btn-default"/>

</div>
