<div>
    <h2> Navn: {{userHolder.currentUser.Name}} <br/> Email: {{userHolder.currentUser.Email}} </h2>
</div>

<attributes-component [source]="'account'"></attributes-component>

<input type="button" (click)="updateUser()" value="Opdater" class="btn btn-default" />
