<div *ngIf="attributeAdder==true">
  <div class="input-group">
    <span class="input-group-addon">Navn</span>
    <input #attr data-toggle="tooltip" title="Hvad kan du godt lide?" id="attributNavn"
           [(ngModel)]="attrName" (keyup)="onKey($event)"
           #attributNavn class="form-control" placeholder="Navn på attribut"/>
  </div>

  <div class="input-group">
    <span class="input-group-addon">Værdi</span>
    <input id="attributVal" data-toggle="tooltip" [(ngModel)]="attrVal" title="Har din attribut en værdi?"
           class="form-control"
           placeholder="Værdi af attribut"/>
  </div>


  <div *ngIf="attributeService.suggestions.length > 0">
    <ul>
      <li *ngFor="let item of attributeService.suggestions">
        <a (click)="select(item)">{{item}}</a>
      </li>
    </ul>
  </div>
  <input type="button" (click)="addAttribute()" value="Tilføj" class="btn btn-default"/>

</div>

<p>Attributes</p>
<ul>
  <li *ngFor="let attr of attributeService.attributes; let i = index">
    {{ attr.Name }} {{attr.Value}} <span *ngIf="attributeAdder==true" (click)="deleteAttribute(i)"> X</span>
  </li>
</ul>
<div *ngIf="attributeAdder==true">
  <div *ngIf="attributeService.apriori.length > 0">
    <span><b>Suggestions</b></span>
    <ul>
      <li *ngFor="let item of attributeService.apriori">
        <a (click)="select(item.Name)">{{item.Name}}</a>
      </li>
    </ul>
  </div>
</div>
